.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.footer-custom {
    position: absolute;
    bottom: 0;
}



@media (max-width: 480px) {
    .footer-custom {
        position: static;
    }

    .login-box {
        margin-bottom: 10px;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    .footer-custom {
        position: static;
    }

    .login-box {
        margin-bottom: 10px;
    }
}